* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size: 16px;
    letter-spacing: 1.5px;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h6, a,
.heading-watermark, .hero-title p,
button, #credit p {
    text-transform: uppercase;
}
h2, h3 {
    font-weight: 600;
}
h3 {
    font-size: 1.7em;
}
ul {
    list-style-type: none;
}
.fas {
    padding-right: 0.5em;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
/* Mobile Navbar Style */ 
.nav-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;
}
.bar {
    width: 50px;
    height: 2px;
    background-color: #000;
}
.bar:nth-child(2) {
    width: 25px;
    z-index: 2;
}
.button-mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close-button {
    width: 25px;
    height: 25px;
}
.close-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.navigation-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5em;
}
.navbar-mobile {
    width: 75vw;
    height: 100vh;
    padding: 1.5em;
    position: fixed;
    top: 0;
    right: -100%;
    text-align: center;
    background-color: #000;
    z-index: 3;
}
.navigation-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.navigation-mobile .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.navigation-mobile .nav-item a {
    color: #fff;
}
.active {
    right: 0;
    transition: right ease 0.5s;
}
.inactive {
    right: -100%;
    transition: right ease 0.5s;
}
.item-active {
    background-color: #000;
}
.nav-active-layer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.527);
    display: none;
}
.disable-scroll {
    overflow: hidden;
}
/* Top Navbar Style */
#main-header {
    width: 100%;
    height: auto;
    padding: 0 7em;
    position: absolute;
    top: 0;
    left: 0;
}
#top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 600;
}
.logo img{
    width: 100px;
    margin-top: 10%;
}
.logo, .nav-link{
    color: #000;
}
.navbar-mobile, .nav-button-container {display: none;}
.navbar-desktop {
    list-style-type: none;
    display: flex;
    gap: 1em;
}
.nav-item {
    padding: 3.3em 0.5em 2em 0.5em;  
}
.item-active {
    background-color: #2b2b2b;
}
.item-active:hover .nav-hr {
   opacity: 0 !important;
}
.nav-item:hover .nav-hr {
    opacity: 1;
    transition: opacity ease 0.4s;
}
.item-active a {
    color: #fff;
}
.nav-link {
    font-weight: 400;
}
.nav-contact {
    padding-top: 1.5em;
}
.nav-hr {
    height: 3px;
    margin: 5% auto;
    border: none;
    opacity: 0;
    background-color: #fff;
}

/* Hero Section Style */
#hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75vh;
    padding: 0 7em;
    background: url(Images/virender-singh-wlrGF9qkXFw-unsplash.jpg) no-repeat bottom center;
    background-size: cover;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
.hero-title {
    display: flex;
    flex-direction: column;
    width: 29em;
    padding-top: 1em;
}
.hero-title h1 {
    font-size: 3.1em;
}
.hero-title p {
    font-size: 1.5em;
}
.button {
    width: 17.5em;
    padding: 1em;
    margin: 20px 0 0 0;
    border: none;
    background-color: #2a4c5a;
    color: #fff;
    cursor: pointer;
}
.button:hover {
    background-color: #2b2b2b;
    transition: background-color ease 0.2s;
}
/* Main Content Style */
.section-header {
    padding: 1em 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.heading-watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12.5em;
    font-weight: 800;
    letter-spacing: 15px;
    color: #e1e1e1ad;
    opacity: 0.3;
    z-index: -1;
}
h2 {
    font-size: 1.8em;
}
h3 {
    padding: 0.5em 0;
}

/* About Style */
#about {
    margin-top: -5%;
    padding: 15em 7em 10em 7em;
}
.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    padding: 10em 0 0 0;
}
.section-content-left {
    width: 40%;
}
.section-content-right {
    width: 60%;
}
.about-img {
    width: 100%;
}
.section-paragraph {
    padding-bottom: 5em;
}

/* Services Style */
#services {
    padding: 10em 0 12em 0;
    position: relative;
}
.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 10em 7em 0 7em;
}
.service-box {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 1;
}
.service-box:hover svg {
    padding-left: 0.3em;
    transition: padding-left ease 0.5s;
}
.service-box:hover .service-img {
    transform: scale(1.1);
    transition: transform ease 0.5s;
}
.service-img-container {
    height: 220px;
}
.service-img {
    display: block;
    object-fit: cover;
    object-position: center;
}
.box-mask {
    width: 100%;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.603);
}
.service-link {
    font-size: 20px;
    color: #fff;
}
svg {
    overflow: visible;
}

/* Portfolio Style */
#portfolio {
    padding: 10em 7em 1em 7em;
}
#portfolio .section-content-left {
    width: 50%;
}
#portfolio .section-content-right {
    width: 50%;
}
.portfolio-grid {
    display: grid;
    grid-template-areas: "box-1 box-1 box-2 box-2"
                        "box-3 box-3 box-2 box-2";
    gap: 2em;
}
.p-img-1 {
    grid-area: box-1;
    padding-top: 5em;
}
.p-img-2 {
    grid-area: box-2;
}
.p-img-3 {
    grid-area: box-3;
    padding-bottom: 5em;
}
.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-paragraph {
    padding-bottom: 0;
}
/* Team Style */
#team {
    padding: 10em 7em;
    height: auto;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 3em 5em;
    width: 100%;
    height: auto;
}
.card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(116, 131, 136, 0.2);
    border-radius: 0.8em;
}

.card-header {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100%;
}
.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.card-description {
    padding: 1.5em 1em;
}
.card-description h4 {
    padding-bottom: 0.1em;
}
.card-hr {
    width: 50px;
    height: 3px;
    background-color: #e5e5e5;
    border-radius: 1em;
    border: none;
}
.card-description h6 {
    font-size: 13px;
    padding: 0.1em 0 0.5em 0;
    color: #767d80;
}
.card-description p {
    padding: 1em 0;
}
.card-icon-wrap a {
    font-size: 16px;
    color: #767d80;
}

/* Subscribe Style */
#subscribe {
    width: 85%;
    margin: 5em auto 7em auto;
    padding: 5em 0;
    background-color: #f1f3f4;
    border-radius: 5rem;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 7em 0 7em;
    gap: 1em;
}
.email-input {
    width: 40em;
    padding: 1em;
    border: none;
}
.email-input::placeholder {
    color: #9ca5a8;
}
.email-button {
    margin: 0;
    width: 15%;
}
/* Partners Style*/
#partners {
    padding: 5em 7em 10em 7em;
    position: relative;
}
.partners-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.brand-logo {
    width: 200px;
}

/* Footer */
#main-footer {
    padding: 5em 7em;
    color: #fff;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    background-color: #000;
    
}
.footer-logo img {
    margin-top: 0%;
}
.footer-content, .link-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-content {
    padding: 5em 0;
}
.link-container {
    width: 400px;
}
.footer-item {
    padding: 0.5em 0;
}
.footer-link {
    color: #fff;
}
.footer-link:hover {
    opacity: 0.4;
}
.contact-container h3 {
    padding: 0;
}
.contact-info {
    padding-top: 2em;
}
.social-links-wrap a {
    font-size: 1.15em;
    color: #767d80;
}
.social-links-wrap a:hover {
    color: #fff;
}
.social-links-wrap {
    padding-top: 2em;
}
.social-links-wrap a {
    padding: 0 0.4em 0 0;
}
#credit {
    padding: 1em;
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 0.7em;
}
/* Media Queries */
@media  screen and (max-width:375px) {
    .navbar-desktop, .contact-wrap {display: none;}
    .navbar-mobile, .nav-button-container { display: block;}
    .item-active {
        background-color: #000;
    }
    .nav-hr {
        height: 3px;
        margin: 1% auto;
        opacity: 0;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
    font-size: 1.25em;
    }
    #main-header {
        padding: 0 1.5em;
    }
    .logo img{
        width: 70px;
        margin-top: 15%;
    }
    #hero-section {
        height: 630px;
        padding: 0 1.5em;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .hero-title {
        gap: 1em;
        width: 18.5em;
        padding-top: 0;
    }
    .hero-title h1 {
        font-size: 2em;
    }
    .hero-title p {
        font-size: 1em;
    }
    .button {
        margin: 0;
    }
    .section-header {
        padding: 1em 0; 
    }
    .heading-watermark {
        top: 20%;
        font-size: 4em;
        letter-spacing: 5px;
    }
    #about {
        margin-top: 0;
        padding: 5em 1.5em 5em 1.5em;
    }
    #services, #portfolio, #team {
        padding: 3em 1.5em 3em 1.5em;
    }
    .section-content {
        flex-direction: column;
        gap: 3em;
        padding: 5em 0 0 0;
    }
    .section-content-left, 
    .section-content-right {
        width: 100%;
    }
    .section-paragraph {
        padding-bottom: 3em;
    }
    .services-container {
        flex-direction: column;
        padding: 5em 0;
    }
    #portfolio .section-content-left,
    #portfolio .section-content-right {
        width: 100%;
    }
    .portfolio-grid {
        display: grid;
        grid-template-areas: "box-1 box-1 box-1 box-1"
                                "box-2 box-2 box-2 box-2"
                                    "box-3 box-3 box-3 box-3";
        gap: 3em;
    }
    .p-img-1 {
        padding-top: 3em;
    }
    .p-img-3 {
        padding-bottom: 0em;
    }
    .portfolio-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .portfolio-paragraph {
        padding-bottom: 3em;
    }
    #team {
        padding: 3em 1.5em 3em 1.5em;
    }
    .card-container {
        flex-direction: column;
        gap: 5em;
        padding: 3em 0;
    }
    #partners {
        padding: 3em 1.5em 3em 1.5em;
    }
    .partners-logo-container {
        flex-wrap: wrap;    
    }
    .brand-logo {
        width: 135px;
    }
    #subscribe {
        width: 90%;
        margin: 5em auto 7em auto;
        padding: 5em 1.5em;
        border-radius: 3rem;
    }
    .subscribe-form {
        flex-direction: column;
        padding: 3em 0em 0 0em;
        gap: 1em;
    }
    label, .email-input,
    .email-button 
    {width: 100%}

    #main-footer {
        padding: 5em 1.5em 3em;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        text-align: center;
    }
    .footer-logo img {
        margin-top: 0%;
        margin-left: 10px;
        width: 140px;   
    }
    .footer-content, .link-container {
        align-items: center;
        flex-direction: column;
        gap: 3em;
    }   
    .footer-content {
        padding: 3em 0;
    }
    .link-container {
        width: 100%;
    }
    .footer-item {
        padding: 0.5em 0;
    }
    .contact-info {
        padding-top: 2em;
    }
    #credit {
        font-size: 0.5em;
    }
}
@media  screen and (min-width:376px) and (max-width: 414px) {
    .navbar-desktop, .contact-wrap {display: none;}
    .navbar-mobile, .nav-button-container { display: block;}
    .item-active {
        background-color: #000;
    }
    .nav-hr {
        height: 3px;
        margin: 1% auto;
        opacity: 0;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
    font-size: 1.25em;
    }
    #main-header {
        padding: 0 1.5em;
    }
    .logo img{
        width: 70px;
        margin-top: 15%;
    }
    #hero-section {
        height: 630px;
        padding: 0 1.5em;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .hero-title {
        gap: 1em;
        width: 18.5em;
        padding-top: 0;
    }
    .hero-title h1 {
        font-size: 2em;
    }
    .hero-title p {
        font-size: 1em;
    }
    .button {
        margin: 0;
    }
    .section-header {
        padding: 1em 0; 
    }
    .heading-watermark {
        top: 20%;
        font-size: 4em;
        letter-spacing: 5px;
    }
    #about {
        margin-top: 0;
        padding: 5em 1.5em 5em 1.5em;
    }
    #services, #portfolio, #team {
        padding: 3em 1.5em 3em 1.5em;
    }
    .section-content {
        flex-direction: column;
        gap: 3em;
        padding: 5em 0 0 0;
    }
    .section-content-left, 
    .section-content-right {
        width: 100%;
    }
    .section-paragraph {
        padding-bottom: 3em;
    }
    .services-container {
        flex-direction: column;
        padding: 5em 0;
    }
    #portfolio .section-content-left,
    #portfolio .section-content-right {
        width: 100%;
    }
    .portfolio-grid {
        display: grid;
        grid-template-areas: "box-1 box-1 box-1 box-1"
                                "box-2 box-2 box-2 box-2"
                                    "box-3 box-3 box-3 box-3";
        gap: 3em;
    }
    .p-img-1 {
        padding-top: 3em;
    }
    .p-img-3 {
        padding-bottom: 0em;
    }
    .portfolio-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .portfolio-paragraph {
        padding-bottom: 3em;
    }
    #team {
        padding: 3em 1.5em 3em 1.5em;
    }
    .card-container {
        flex-direction: column;
        gap: 5em;
        padding: 3em 0;
    }
    #partners {
        padding: 3em 1.5em 3em 1.5em;
    }
    .partners-logo-container {
        flex-wrap: wrap;    
    }
    .brand-logo {
        width: 150px;
    }
    #subscribe {
        width: 90%;
        margin: 5em auto 7em auto;
        padding: 5em 1.5em;
        border-radius: 3rem;
    }
    .subscribe-form {
        flex-direction: column;
        padding: 3em 0em 0 0em;
        gap: 1em;
    }
    label, .email-input,
    .email-button 
    {width: 100%}

    #main-footer {
        padding: 5em 1.5em 3em;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        text-align: center;
    }
    .footer-logo img {
        margin-top: 0%;
        margin-left: 10px;
        width: 140px;   
    }
    .footer-content, .link-container {
        align-items: center;
        flex-direction: column;
        gap: 3em;
    }   
    .footer-content {
        padding: 3em 0;
    }
    .link-container {
        width: 100%;
    }
    .footer-item {
        padding: 0.5em 0;
    }
    .contact-info {
        padding-top: 2em;
    }
    #credit {
        font-size: 0.5em;
    }
}
@media  screen and (min-width:415px) and (max-width: 900px) {
    .navbar-desktop, .contact-wrap {display: none;}
    .navbar-mobile, .nav-button-container { display: block;}
    .item-active {
        background-color: #000;
    }
    .nav-hr {
        height: 3px;
        margin: 1% auto;
        opacity: 0;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
    font-size: 1.25em;
    }
    #main-header {
        padding: 0 3em;
    }
    .logo img{
        width: 70px;
        margin-top: 15%;
    }
    #hero-section {
        height: 630px;
        padding: 0 3em;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .hero-title {
        gap: 1em;
        width: 18.5em;
        padding-top: 0;
    }
    .hero-title h1 {
        font-size: 2em;
    }
    .hero-title p {
        font-size: 1em;
    }
    .button {
        margin: 0;
    }
    .section-header {
        padding: 1em 0; 
    }
    .heading-watermark {
        top: 20%;
        font-size: 4em;
        letter-spacing: 5px;
    }
    #about {
        margin-top: 0;
        padding: 5em 1.5em 5em 1.5em;
    }
    #services, #portfolio, #team {
        padding: 3em 1.5em 3em 1.5em;
    }
    .section-content {
        flex-direction: column;
        gap: 3em;
        padding: 5em 0 0 0;
    }
    .section-content-left, 
    .section-content-right {
        width: 100%;
    }
    .section-paragraph {
        padding-bottom: 3em;
    }
    .services-container {
        flex-direction: column;
        padding: 5em 0;
    }
    #portfolio .section-content-left,
    #portfolio .section-content-right {
        width: 100%;
    }
    .portfolio-grid {
        display: grid;
        grid-template-areas: "box-1 box-1 box-2 box-2 box-3 box-3"
                                "box-1 box-1 box-2 box-2 box-3 box-3"
                                    "box-1 box-1 box-2 box-2 box-3 box-3";
        gap: 2em;
    }
    .p-img-1 {
        padding-top: 0em;
    }
    .p-img-3 {
        padding-bottom: 0em;
    }
    .portfolio-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .portfolio-paragraph {
        padding-bottom: 3em;
    }
    #team {
        padding: 3em 1.5em 3em 1.5em;
    }
    .card-container {
        gap: 1em;
        padding: 3em 0;
    }
    #partners {
        padding: 3em 1.5em 3em 1.5em;
    }
    .partners-logo-container {
        flex-wrap: wrap;    
    }
    .brand-logo {
        width: 150px;
    }
    #subscribe {
        width: 90%;
        margin: 5em auto 7em auto;
        padding: 5em 1.5em;
        border-radius: 3rem;
    }
    .subscribe-form {
        flex-direction: row;
        padding: 3em 0em 0 0em;
        gap: 1em;
    }
    

    #main-footer {
        padding: 5em 1.5em 3em;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        text-align: center;
    }
    .footer-logo img {
        margin-top: 0%;
        margin-left: 10px;
        width: 140px;   
    }
    .footer-content, .link-container {
        align-items: center;
        flex-direction: column;
        gap: 3em;
    }   
    .footer-content {
        padding: 3em 0;
    }
    .link-container {
        width: 100%;
    }
    .footer-item {
        padding: 0.5em 0;
    }
    .contact-info {
        padding-top: 2em;
    }
    #credit {
        font-size: 0.5em;
    }
}
@media  screen and (min-width:901px) and (max-width: 1112px) {
    #services, #portfolio, #team {
        padding: 5em 2em 5em 2em;
    }
    #about {
        padding: 15em 2em 10em 2em;
    }
    .section-content {
        padding: 5em 0 0 0;
    }
     .services-container {
        padding: 10em 0;
    }
    .card-container {
        gap: 2em;
        padding: 3em 5em;
    }
    .card-container {
        gap: 1em;
        padding: 3em 1em;
    }
    .partners-logo-container {
        flex-wrap: wrap;    
    }
}

@media  screen and (min-width: 1700px) {
    body {
        width: 90%;
        margin: auto;
    }
    #main-header {
    padding: 0 10em;
    }
    #hero-section {
        height: 90vh;
        padding: 0 10em;
        background-position: center center;
    }
    .hero-title h1 {
        font-size: 3.5em;
    }
    .hero-title {
        width: 40em;
    }
    .service-img-container, .box-mask {
        height: 400px;
    }

}